.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.contentWrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
  height: calc(100vh - 4rem);
}

.mainContent {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
}
